/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ROOT */
:root {
  --header-text-color: #083c6e;
  --main-bg-color: #fff;
  --main-text-color: #000;
  --main-subtitle-color: #b1b6ca;
  --video-section-bg-color: #152242;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1152px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site_footer {
  background-color: var(--video-section-bg-color);
  padding-top: 367px;
}
.footer_wrapper {
  display: flex;
  gap: 30px;
}

.footer_list {
  list-style: none;
  padding-left: 0;
}
.footer_list_item {
  width: 255px;
}
.footer_list_top {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 30px;
}
.footer_list_item_link {
  font-family: "Rubik", "Arial", sans-serif;
  text-decoration: none;
  font-weight: 350;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer_addres {
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 50px;
}
.footer_end{
    display: flex;
    padding-top: 30.8px;
    padding-bottom: 31px;
    gap: 12.6px;
    justify-content: flex-end;
}