/* poppins-regular - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* poppins-500 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* poppins-600 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* poppins-700 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* ROOT */

 :root {
    --header-text-color: #083C6E;
    --main-bg-color: #fff;
    --main-text-color: #000;
    --main-subtitle-color: #B1B6CA;
    --video-section-bg-color: #152242;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1152px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}


/* *** MAIN PART START */


/* HERO SECTION START */

.site-main {}

.hero-section {
    padding: 150px 0 144px 0;
}

.site-header__title {
    font-weight: 500;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    color: #000000;
}

.hero-section__list {
    display: flex;
    justify-content: space-between;
}

.hero-section__item {
    position: relative;
    width: 357px;
    height: 264px;
    box-shadow: 0px 7px 15px rgba(8, 60, 110, 0.1)
}

.hero-section__item__img {}

.hero-section__item__link {
    position: absolute;
    z-index: 9;
    top: calc(50% - 113px);
    right: calc(50% + 75px);
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 23px 8px 23px;
    background-color: #083C6E;
}

.hero-section__item__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 357px;
    padding: 8px 12px 7px 12px;
    background: #083C6E;
    opacity: 0.9;
}

.hero-section__item__box__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}


/* HERO SECTION END */


/* *** MAIN PART END  */